
body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  font-family: Helvetica;
  color: #2c2c3a;
}

.todo {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #e2e2e9;
}

.todo ul {
  list-style: none;
  display: block;
  padding: 0px;

}

.todo ul li {
  position: relative;
  padding: 10px;
  background-color: #f1f1f4;
  border: 1px solid #e2e2e9;
  font-size: 20px;
  margin-bottom: 5px;
}

.todo ul li span {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 10px;
  color: #9b9bb1;
}

.todo input, .todo button {
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  font-size: 20px;

  background-color: white;
  border: 1px solid #e2e2e9;
}

